@font-face 
{
    font-family: 'Surface_Medium';
    src: url('../fonts/Surface_Medium-webfont.eot') format('eot'),
         url('../fonts/Surface_Medium-webfont.svg') format('svg'),
         url('../fonts/Surface_Medium-webfont.ttf') format('ttf'),
         url('../fonts/Surface_Medium-webfont.woff') format('woff');
}
header h1 {
    font-family:Arial Black ;
}
body {
    font-family:'Surface_Medium' ;
    background-color:#415B75;
    color: white;
    text-align: center;
}
h2{
    text-decoration: underline;
    border: 3px solid ;
    border-color: rgba(96, 145, 193, 0.1);
    background-color:rgba(96, 145, 193, 0.1);
}

label {
        display: inline-block;
        width: 120px;
        vertical-align: top;
        margin: auto;
}
label::after{
        content: " :";
}
label.radio {
        display: inline;
}
label.radio::after {
        content: "";
}
input[type=text], input[type=range], input[type=date], input[type=mail], input[type=password], input[type=url], textarea, select {
        width: 200px;
        margin-bottom: 5px;       
}
fieldset {
        margin-bottom: 15px;
        display: flex;
        flex-direction:column;
}

input:required{
        color: red;
}
textarea{
    margin : auto;
}
      
  
.articleSport{
    background-color: rgba(1, 20, 46, 0.5);
    margin : 40px 200px ;
    border: 5px solid ;
    border-color: rgba(96, 145, 193, 0.1);
    padding:10px;
    width:45%;
    display: inline-block;
    border-radius:25px ;
}  
.articleAcceuil{
    background-color: rgba(1, 20, 46, 0.5);
    margin : 40px 15px ;
    border: 5px solid;
    border-color: rgba(96, 145, 193, 0.1);
    padding:10px;
    width:45%;
    display: inline-block;
    border-radius:25px ;
    
} 

.articleAcceuil div{
    display:flex;
    flex-direction:row;
    
} 
article{
    background-color:#61758A;
    margin : 40px 400px ;
    border: 5px solid #343D47;
    border-radius:25px ;
    padding:10px;
    width:45%;
    
    
    
} 
article p{
    text-align:left;
    
}


header a {
    background-color:white;
    color:black;
    margin : 15px 10px 15px 10px;
    padding:10px;
    font-family:Surface_Medium;
    border-radius:3px ;
}
.recherche{

    color:white;
    margin : 15px 10px 15px 10px;
    padding:10px;
    font-family:Surface_Medium;
    border-radius:5% ;
}
header a:hover{
    color:grey;
}


figure{
    float:left;
     width: 100px; height: 100px;
}

a{
    color:white;
    text-decoration:none;
}
.Com{
    background-color: rgba(1, 20, 46, 0.5);
    margin : 40px 15px ;
    border: 5px solid;
    border-color: rgba(96, 145, 193, 0.1);
    padding:10px;
    width:45%;
    display: inline-block;
    border-radius:25px ;
}

footer {
    text-align:right; 
}
.New::after{content : " NOUVEAU" ;
text-decoration:none;
color:""
}
aside {
    border-color: rgba(96, 145, 193, 0.1);
    
}
aside div {
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    
}
body{
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
}
img{
    float:left;
}
.Parachutisme{
    background-image: url("../images/parachute.jpg");
}
.mainArticle{
    display:flex;
}
.article{
    margin:auto;
}
.Accueil{
    background: #000024 url("../images/Accueil.jpg") no-repeat;
    color: white;
    text-align: center;
}
.MarcheExtreme{
    background-image: url("../images/MarcheExt.jpg");
    color: white;
    text-align: center;
}
.Kayak{
     background-image: url("../images/Kayak.jpg");
}
.BlueCow{
    text-decoration:italic;
}
#basDePage{
    background-color: #000024;
}
.Formulaire{
   background-image: url("../images/Formulaire.jpg"); 
}
.menuSport{
    position: fixed;

    bottom: 79%;
    right: 1%;
    border: 3px rgba(0,0,0, 0.3) solid;
    padding: 3px;
    border-radius: 10px;
    background-color: rgba(33,33,33, 0.7);
}
.boutonMenuSport {
    border: 2px rgba(0,0,0, 0.3) solid;
    border-top: 0px;
    padding : 2px;
}
.premierBoutonMenuSport{
    border: 2px rgba(0,0,0, 0.3) solid;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding : 2px;
}
.dernierBoutonMenuSport
{
    border: 2px rgba(0,0,0, 0.3) solid;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top: 0px;
    padding : 2px;
}

      